* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;  
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}
header{
  text-align: center;
  background-color: #2a137d;
  padding: 20px 40px;
  color: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}